@import './common';
@import './grid';

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $gap16;
  border-radius: 10px;
  background-color: $color-white;

  &:hover {
    background-color: rgba($color: $color-white, $alpha: 0.5);
    transition: $transition;
  }

  &__image {
    img {
      object-fit: cover;
      margin-bottom: 20px;
      border-radius: 20px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: $fsz-20;
    color: $main-gray;
  }

  &__price {
    margin-top: auto;
    font-size: $fsz-16;
    color: $accent-gray;
  }
}
